<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block title %}Receipe Manager{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for("static", filename="css/base.css")}}">
        {% block script %}
        {% endblock %}
        {% block style %}
        {% endblock %}
    </head>
    <body>
        <main>
            <h1>{% block heading %}Main{% endblock %}</h1>
            {% block content %}
            {% endblock %}
        </main>
        <footer>
            Footer
        </footer>
    </body>
</html>
